* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
	/*font-size: 2em;*/
	left: 100px;
}

table,th,td {
  border : 1px solid black;
  border-collapse: collapse;
}

th,td {
  padding: 5px;
}