* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
	/*font-size: 2em;*/
	left: 100px;
}

/*#learning {
	width: 50%;
}*/

.section-boxes {
	border: 2px red dotted;
	margin: 10px 0;
}