body{
	background-color: #FFE4E1;
	font-family: 'Sofia';
}



header{
	text-align: center;
}

section h1{
	margin-left: 10px;
}

article{
	min-width: 50px;
	max-width: 29%;
	height: 663px;
	border: 3px dotted #9900CC;	
	padding: 10px;
	margin: 10px;
	overflow: scroll;
}

.bloques {
	float: left;
}

article h3{
	text-align: center;
}

article p{
	padding: 5px;
}

article dl dt{
	font-weight: bold;
}
footer{	
	clear: left;
	margin: auto;
	text-align: center;
}